<!DOCTYPE html>
<html ng-app="schedulingApp">
<head>
    <title>Scheduling app</title>
    <base href="/" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="~/lib/angular-material/angular-material.css" />
    <link rel="stylesheet" href="~/lib/angular-material-icons/angular-material-icons.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <div ng-view></div>    
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkzZGBbgKRJB9gHPk-INIg_zn5o0307r4&libraries=places"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-aria/angular-aria.js"></script>
    <script src="~/lib/angular-material/angular-material.js"></script>
    <script src="~/lib/angular-messages/angular-messages.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>
    <script src="~/lib/angular-material-icons/angular-material-icons.js"></script>
    <script src="~/app.js"></script>   
</body>
</html>